player-connection-mode=Listen
player-connection-guid=4270631218
player-connection-debug=0
player-connection-ip=192.168.56.1
player-connection-ip=169.254.193.47
player-connection-ip=130.240.108.131
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
scripting-runtime-version=latest
vr-enabled=0
hdr-display-enabled=0
